# Data Science Tool and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
+ List popular languages for Data Science
+ List commonly used libraries in Data Science
+ Using Python Programming Languge to carry out simple arithmetic expression

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Structured Query Language, SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. ggplot
4. Scikit learn
5. Seaborn
6. Caret
7. dplyr
8. Apache Spark

|Data Science Tools|
|------------------|
|JupyterLab|
|RStudio|
|Google Colab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
x = 200
hrMin_conv = x / 60
print(hrMin_conv)

3.3333333333333335

## Author
Hajarat Titilope OLUFADE